<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Указание на использование камеры, если она доступна -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Разрешения -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/minilogo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyBizCard"
        tools:targetApi="31">
        <activity
            android:name=".UserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".MyCardsActivity"
            android:exported="false" />
        <activity
            android:name=".BusinessCardViewActivity"
            android:exported="false" /> <!-- Ваши активности -->
        <activity
            android:name=".TemplateEditorActivity"
            android:exported="false" />
        <activity
            android:name=".AdminPanelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BusinessCardDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScannerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyCardsActivityv0_5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- Настройка FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="volosyuk.easybizcard.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>